/* Structure */

body {
	background-color: #000;
    background-image: url("https://images.unsplash.com/photo-1506953823976-52e1fdc0149a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
    background-size: cover;
    background-repeat: no-repeat;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

p {
    color: #fff;
}

a {
    color:blueviolet;
}

.wrapper {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

#content {
    margin: auto;
    width: 50%;
    text-align: center;
}

#contentBody {
    width: 80%;
}

#overlay {
    background-image: url("https://images.unsplash.com/photo-1506953823976-52e1fdc0149a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
    background-size: cover;
    background-repeat: no-repeat;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

/* Chonks */

.chunk {
    padding: 20px 0px 20px 0px;
}

.smallChunk {
    padding: 8px 0px 8px 0px;
}

.largeChunk {
    padding: 40px 0px 40px 0px;
}

.halfChonk {
    display: flex;
}

.halfChonk > div {
    flex: 1;
    padding: 20px 24px 20px 0px;
}

/* Responsive Rules */

/* Tablet */

@media only screen and (max-width: 768px) {     

    #content {
        left: 200px;
        width: 75%;
    }

}

/* Mobile */

@media only screen and (max-width: 400px) {

    #content {
        top: 80px;
        width: 90%;
        left: 24%;
    }
    
    .halfChonk {
        display: initial;
        width: 100%;
    }

    .halfChonk > div {
        padding: 20px 0px 20px 0px;
    }
    
}
